<xml.AppSettingsXML>
  <keybord>
    <port>/dev/ttyUSBKPD</port>
    <polling>20</polling>
    <clickLag>300</clickLag>
  </keybord>
  <device>
    <port>/def/ttyUSB1</port>
  </device>
  <panels>
      <xml.dataClass.Panel>
      <type>p_1x2</type>
      <content>
        <xml.dataClass.Content>
          <channel>
            <id>1</id>
            <name>Caa</name>
          </channel>
        </xml.dataClass.Content>
        <xml.dataClass.Content>
          <cameraName>cam1</cameraName>
        </xml.dataClass.Content>
        <xml.dataClass.Content>
          <cameraName>cam2</cameraName>
        </xml.dataClass.Content>
      </content>
    </xml.dataClass.Panel>
    <xml.dataClass.Panel>
      <type>p_2x2</type>
      <content>
        <xml.dataClass.Content>
          <channel>
            <id>3</id>
            <name>Caa</name>
          </channel>
        </xml.dataClass.Content>
         <xml.dataClass.Content>
          <channel>
            <id>2</id>
            <name>Caa</name>
          </channel>
        </xml.dataClass.Content>
        <xml.dataClass.Content>
          <cameraName>cam1</cameraName>
        </xml.dataClass.Content>
        <xml.dataClass.Content>
          <cameraName>cam2</cameraName>
        </xml.dataClass.Content>
      </content>
    </xml.dataClass.Panel>
  </panels>
  <camers>
    <xml.dataClass.Camera>
      <modelName>G1</modelName>
      <ip>192.168.88.115</ip>
      <name>cam1</name>
      <th>0</th>
    </xml.dataClass.Camera>
    <xml.dataClass.Camera>
      <modelName>G2</modelName>
      <ip>192.168.88.15</ip>
      <name>cam2</name>
      <th>0</th>
    </xml.dataClass.Camera>
  </camers>
</xml.AppSettingsXML>